<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>Url shortner</title>
  </head>
  <body>
    <div class="area" ><ul class="circles"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul></div >
    
    <div class="container">
        <h2>URL Shortner</h1>
      <form action="/" method="post">
        <input type="url" name="url" id="url" placeholder="Enter your URL" />
        <input type="submit" value="Shrink " id="submit"/>
      </form>
  
      
       
      

    </div>
   
  </body>
</html>