<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <meta name="theme-color" content="#000000">
    <title>Url shortner</title>
  </head>
  <body>
    <div class="area" ><ul class="circles"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul></div >
    <div class="container">
      <h2>URL Shortner</h2>

      <% if (locals.error) { %>
      <p class="error"><%= error %></p>
      <% } %>
  
      <form action="/" method="post">
        <input type="url" name="url" id="url" placeholder="Enter your URL" />
        <input type="submit" value="Shrink" id="submit" />
      </form>
  
      <div class="short-url">
        <% if (locals.short_url) { %>
        <input id="lenk" value="<%= short_url %>">
        <button onclick='myfn()' class="copy" id="copy">Copy</button>
        <% } %>
      </div>
     

    </div>
   <script>
     function myfn()
     {
       var copyText = document.getElementById('lenk');
       copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  window.getSelection().empty();
  var copy = document.getElementById('copy');
  if(document.getElementById("copy").innerHTML!="Copied !")
  {
    document.getElementById("copy").innerHTML="Copied !"
  document.getElementById("copy").style.background="#04B319"
  }

     }
     var metaThemeColor = document.querySelector("meta[name=theme-color]");
     var colors = ['#01934D','#1320B8','#CB2545','#EBCC0C', '#000']
     setInterval(function(){ 
       metaThemeColor.setAttribute("content",colors[Math.floor(Math.random() * 5)]); }, 3500);
   </script>
  </body>
</html>