<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <meta name="theme-color" content="#000000">
    <meta name="robots" content= "index, follow">
    <title>Urml.ml -Shorten long urls Instantly !</title>
    <meta property="description" content="Urml.ml is an open-source URL shortener built using NodeJS ExpressJS and MongoDB. For source please visit https://github.com/adithyapaib/lenk.cf"/>
    <meta property="og:description" content="Urml.ml is an open-source URL shortner built using NodeJS ExpressJS and MongoDB. For source please vist https://github.com/adithyapaib/lenk.cf"/>
    <link rel="shortcut icon" href="https://img.icons8.com/fluent/16/000000/link.png" type="image/x-icon">
  </head>
  <body>
    <div class="area" ><ul class="circles"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul></div >
    <div class="container">
      <h2>URL Shortner</h2>

      <% if (locals.error) { %>
      <p class="error" style="color: red; margin-top: 10px; margin-bottom: 30px;"><%= error %></p>
      <% } %>
  
      <form action="/" method="post">
        <input type="url" name="url" id="url" placeholder="Enter your URL" />
        <input type="submit" value="Shrink" id="submit" />
      </form>
  
      <div class="short-url">
        <% if (locals.short_url) { %>
        <input id="lenk" value="<%= short_url %>">
        <button onclick='myfn()' class="copy" id="copy">Copy</button>
        <% } %>
      </div>
     

    </div>
    <footer>
      <p>Made with 💙 by <a href="https://adithyapai.com">Adithya Pai 💯</a></p>
    </footer>
   <script>
     function myfn()
     {
       var copyText = document.getElementById('lenk');
       copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  window.getSelection().empty();
  var copy = document.getElementById('copy');
  if(document.getElementById("copy").innerHTML!="Copied !")
  {
    document.getElementById("copy").innerHTML="Copied !"
  document.getElementById("copy").style.background="#04B319"
  }

     }
     var metaThemeColor = document.querySelector("meta[name=theme-color]");
     var colors = ['#01934D','#1320B8','#CB2545','#EBCC0C', '#000']
     setInterval(function(){ 
       metaThemeColor.setAttribute("content",colors[Math.floor(Math.random() * 5)]); }, 3500);
   </script>
  </body>
</html>
