@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Poppins:wght@400;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  z-index: 100000000;
}

.container .short-url {
  margin-top: 80px;
  padding-top: 10px;
  width: 600px;
  max-width: 80vw;
  padding: 5px;
  text-align: center;
}

.container .short-url input {
  outline: none;
  font-size: 1.2em;
  padding-top: 10px;
  padding: 5px;
  width: 600px;
  margin: 0;
  max-width: 80vw;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -o-border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%9' y1='0%25' x2='0%25' y2='56%25'%3E%39stop offset='0%25' stop-color='gree' /%3E%3Cstop offset='green' stop-color='red' /%3E%3Cstop offset='50%25' stop-color='green' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
     border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%9' y1='0%25' x2='0%25' y2='56%25'%3E%39stop offset='0%25' stop-color='gree' /%3E%3Cstop offset='green' stop-color='red' /%3E%3Cstop offset='50%25' stop-color='green' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.container .copy {
  /* 
    
    border: none;
    outline: none;
    width: 100px;
    max-width: 80vw;
    background: #3C6FF3;
    color: white;
    border-radius: 8px; */
  color: #fff !important;
  background: #3C6FF3;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  outline: none;
  width: 300px;
  max-width: 70vw;
  display: inline-block;
  border: none;
  margin-top: 50px;
  -webkit-transition: all 0.4s ease 0s;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.container .copy:hover {
  background: #CB2545;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container #url {
  outline: none;
  font-size: 1.2em;
  padding-top: 10px;
  padding: 5px;
  width: 600px;
  margin: 0;
  max-width: 80vw;
  height: 30px;
  background: rgba(255, 255, 255, 0.425);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 2s border ease;
  transition: 2s border ease;
  -o-border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%9' y1='0%25' x2='0%25' y2='56%25'%3E%39stop offset='0%25' stop-color='gree' /%3E%3Cstop offset='green' stop-color='red' /%3E%3Cstop offset='50%25' stop-color='green' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
     border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%9' y1='0%25' x2='0%25' y2='56%25'%3E%39stop offset='0%25' stop-color='gree' /%3E%3Cstop offset='green' stop-color='red' /%3E%3Cstop offset='50%25' stop-color='green' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.container #url:focus {
  border: none;
  border-bottom: 2px solid #2fff6d;
}

.container #submit {
  padding: 8px 5px 8px 10px;
  margin-top: 50px;
  border: none;
  width: 600px;
  max-width: 80vw;
  background: #3C6FF3;
  color: white;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}

.container #submit:hover {
  background: #CB2545;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.container h2 {
  background-clip: text;
  margin-bottom: 8%;
  font-weight: 700;
  font-size: 2.2em;
}

.container a {
  margin-top: 10%;
}

footer {
  z-index: 100000000000000000000000000000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer a {
  color: #ff0000;
  cursor: pointer;
}

.area {
  background: #ffffff;
  width: 100%;
  height: 100vh;
  z-index: 10000000000000000000000000000;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 80px;
  height: 80px;
  background: #000000;
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 0%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background: black;
}

.circles li:nth-child(2) {
  left: 25%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  background: #EBCC0C;
}

.circles li:nth-child(3) {
  left: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  background: #01934D;
}

.circles li:nth-child(4) {
  left: 75%;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  background: #1320B8;
}

.circles li:nth-child(5) {
  left: 94%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  background: #CB2545;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 58%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 58%;
  }
}
/*# sourceMappingURL=style.css.map */
